<% include ./partials/header %>

  <div class="container">
      <div class="text-center">
        <form class="form-signin" action="/premire-league/news/<%= news_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Edit your comment</h1>
            <label for="Username" class="sr-only">Comments</label>
            <input type="text" id="forComment" name="comment[text]" class="form-control" value="<%= comment.text %>" required autofocus>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2K18</p>
          </form>
      </div>
    </div>



  <% include ./partials/footer %>
