<% include ./partials/header %>

  <div class="container">
    <div class="jumbotron">
      <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
  <button class="btn btn-dark btn-lg" style="pointer-events: none;" type="button" disabled>Register</button>
</span>
      <form action="/register" method="POST">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Username</div>
              </div>
              <input type="text" name="username" class="form-control" id="inlineFormInputGroup" placeholder="Username">
            </div>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Password</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Password</div>
              </div>
              <input type="password" name="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <% include ./partials/footer %>